.checkin-header{
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
}

.check-in-box{
    margin-right: 100px;
}

.profile-checkin-list{
    line-height: 2;
}

.checkins-header{
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
}